<header>
    <div class="p-5 text-center bg-light">
      <h1 class="mb-3">Group list</h1>
      <button class="btn btn-primary float-right" [routerLink]="'/group/create'">Create</button>
    </div>
  </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ group.name }}</td>
        <td>
          <button type="button" class="btn btn-primary float-right" [routerLink]="['/group/update', group.id]">Update</button>
          <button type="button" class="btn btn-danger float-right" (click)="delete(group.id)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>